.home{
    display: flex;
    .homecontainer{
        // background-color: lightblue;
        flex:6;
        // margin-left: 180px;

        .widgets{
            display: flex;
            padding: 30px;
            gap:20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow:2px 4px 10px 1px rgba(201,201,201,201.47);
            justify-content: space-between;
            border-radius: 30px;
            color: rgb(87, 85, 85);
            font-size: 16px;
            // background-color: rgb(241, 223, 216);
            margin: 30px;
        }
        textarea{
            padding: 3%;
            border-color: #4b73f5;
            border-width: thick;
        }
        .hint{
            display:none;
        }
        .widget{
            display: flex;
            padding: 30px;
            gap:20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow:2px 4px 10px 1px rgba(201,201,201,201.47);
            justify-content: space-between;
            border-radius: 30px;
            color: rgb(87, 85, 85);
            font-size: 16px;
            // background-color: rgb(241, 223, 216);
            margin: 30px;
        }

     
        // .listContainer{
        //     -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        //     box-shadow:2px 4px 10px 1px rgba(201,201,201,201.47);
        //     padding: 20px;
        //     margin: 20px;
        //     .listTitle{
        //         font-weight: 500;
        //         color: gray;
        //         margin-bottom: 15px;

        //     }

        // }

    }
}