

h3 {
    line-height: 20px;
    margin-top: 0px;
}

#input {
    height: 300px;
    width: 100%;
}



.widgets{
    display: flex;
    flex-direction:column;
    padding: 30px;
    gap:20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow:2px 4px 10px 1px rgba(201,201,201,201.47);
    justify-content:center;
    border-radius: 30px;
    color:rgb(87, 85, 85);
    font-size: 16px;
    // background-color: rgb(241, 223, 216);
    margin: 30px;
    line-height: 25px;
}